.commentsList {
  display: none !important;
}

.ce--comments-list {
  padding-top: 30px;
}

.ce--no-comments {
  padding-top: 50px;
  text-align: center;
  font-size: 1.5em;
}

.ce--list {
  margin: 0;
}

.ce--comment {
  display: flex;
  padding-top: 10px;
  min-height: 30px;
}

.ce--comment-content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.ce--comment-username {
  color: #868686;
  font-size: .7rem;
}

.ce--comment-text {
  padding: 10px 0;
}
